.neos-module-newsletter-subscribers .neos-search {
    width: 100%;
    max-width: 320px;
    margin-bottom: 16px;
}

.neos-module-newsletter-subscribers .neos-search button[type="submit"] {
    width: auto;
    float: right;
}

.neos-module-newsletter-subscribers .neos-search div {
    overflow: hidden;
}

.neos-module-newsletter-subscribers aside.neos-aside input {
    width: 100%;
}

.neos-module-newsletter-analytics .neos-main:before,
.neos-module-management-subscribers .neos-main:before {
    display: table;
    content: "";
    line-height: 0;
}

.neos-module-newsletter-subscribers .neos-main:after {
    clear: both;
}

aside .neos-search button[type="submit"] {
    width: auto;
    float: right;
}
aside.neos-aside > h2 {
    line-height: 40px;
}

aside.neos-aside > h2 > .neos-edit-toggle {
    float: right;
    background-color: #222;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.neos-search div {
    overflow: hidden;
}

.neos-search div input {
    width: 100%;
}

.neos-search:after {
    display: table;
    content: "";
    line-height: 0;
}

.psmb-newsletter legend {
    padding: 0 !important;
}

.neos-module-newsletter-subscribers .neos-options {
    margin-bottom: 32px;
    border-bottom: 1px solid #3f3f3f;
    height: 40px;
}

.neos-module-newsletter-subscribers .neos-options .neos-show-options {
    float: left;
}

.neos-module-newsletter-subscribers .neos-options .neos-show-options .count {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 8px 0 0;
    border-right: 1px solid #3f3f3f;
}

.neos-module-newsletter-subscribers .neos-options .neos-view-options {
    float: right;
    white-space: nowrap;
    font-size: 0;
}

.neos-module-newsletter-subscribers .neos-options .neos-view-options > a:first-child {
    border-left: 1px solid #3f3f3f;
}

.neos-module-newsletter-subscribers .neos-options .neos-view-options > a, .neos-module-newsletter-subscribers .neos-options .neos-dropdown {
    border-right: 1px solid #3f3f3f;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    min-width: 24px;
    text-align: center;
    padding: 0 8px;
    color: #00b5ff;
}

.neos-module-newsletter-subscribers .neos-options .neos-view-options a {
    color: #fff;
    font-size: 14px;
}


aside ul {
    background-color: #3f3f3f;
    border-top: 1px solid #3f3f3f;
}

.neos aside ul li {
    position: relative;
    background-color: #222;
}

aside ul li a {
    display: block;
    color: #fff;
    padding: 9px 100px 10px 4px;
    margin-bottom: 1px;
    border-radius: 0;
    text-shadow: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

.psmb-newsletter aside ul li a:hover:not(.neos-drag-active) {
    background-color: #00b5ff;
    color: #fff;
}

.psmb-newsletter aside ul li a:hover:not(.neos-drag-active) > span {
    background-color: #fff;
    color: #00b5ff;
    text-shadow: none;
}

aside ul li a > span {
    position: absolute;
    top: 10px;
    right: 8px;
    background-color: #00b5ff;
    color: #fff;
    padding: 4px;
    line-height: 1;
}

aside ul li > a.neos-active {
    color: #00b5ff !important;
}

aside ul li > a.neos-active:hover {
    color: #fff !important;
}

@media (min-width: 768px) {
    .neos-module-newsletter-analytics .neos-content,
    .neos-module-newsletter-subscribers .neos-content {
        float: left;
        left: 272px;
        width: calc(100% - (40px * 6 + 32px));
    }

    .neos-module-newsletter-analytics .neos-aside,
    .neos-module-newsletter-subscribers .neos-aside {
        float: left;
        margin-right: 32px;
        width: 240px;
        right: calc(100% - (40px * 6 + 32px));
    }
}

@media (max-width: 767px) {
    .neos-module-newsletter-analytics .neos-aside,
    .neos-module-newsletter-subscribers .neos-aside {
        margin-top: 32px;
    }
}

.neos .widget .widget-body.widget-table {
    padding: 0;
}

.neos .widget.widget-chart .widget-body {
    padding: 0;
}

.neos .widget.widget-chart{
    height: auto;
}

.neos .widget .widget-body.widget-table table {
    width: 100%;
}

.psmb-newsletter table.neos-table .neos-action {
    text-align: right;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}
dt,
dd {
    line-height: 1.42857143;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 0;
}

.neos td dl {
    padding: 10px 0;
}
@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 100px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dl-horizontal dd {
        margin-left: 120px;
    }
}

table td.text-right {
    text-align: right;
}

/**
 * Import Subscribers
 */
.neos-row-fluid .neos-image-inputs {
    float: left;
    margin-left: 0;
}

.neos-file-input #resource {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.neos-file-input {
    position: relative;
}

.neos-row-fluid .neos-image-inputs .neos-button {
    margin-top: 22px;
    margin-right: 8px;
    margin-bottom: 22px;
}