<div class="widget widget-chart">
    <div class="widget-header">
        <i class="icon-pie-chart neos-pull-left"></i>
        <h3>
            <f:translate id="module.analytics.clickAnalytics"/>
        </h3>
    </div>

    <div id="click-statistics" class="widget-body widget-body-padding"></div>
</div>
<script>
  $(function () {
    $.getJSON("{f:uri.action(action:'dataSource', absolute:true, format:'json', arguments:'{type: \'click\', newsletter: newsletter}') -> f:format.raw()}", result => {
      Highcharts.chart('click-statistics', {
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
      },
      title: {
        text: null
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: false
          },
          showInLegend: true
        }
      },
      series: [{
        name: 'Device',
        colorByPoint: true,
        data: result
      }]
      });
    });
  });
</script>