{namespace p=Psmb\Newsletter\ViewHelpers}
<div class=" neos-module-container">
    <fieldset class="neos-row-fluid">
        <div class="neos-span12">
            <legend><f:translate id="module.header.subscriberDetails"/></legend>
            <br>
            <div class="neos-row-fluid">
                <div class="neos-span6">
                    <div class="neos-row-fluid">
                        <div class="neos-span12">
                            <div class="neos-control-group neos-row-fluid">
                                <div class="neos-span10">
                                    <label class="neos-control-label" for="name"><f:translate id="module.subscriberName"/></label>
                                    <div class="neos-controls">
                                        <f:form.textfield property="name" id="name" class="neos-span16" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="neos-row-fluid">
                        <div class="neos-span12">
                            <div class="neos-control-group neos-row-fluid">
                                <div class="neos-span10">
                                    <label class="neos-control-label" for="name"><f:translate id="module.subscriberEmail"/></label>
                                    <div class="neos-controls">
                                        <f:form.textfield property="email" id="email" class="neos-span12" />
                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="neos-row-fluid">
                        <div class="neos-span12">
                            <div class="neos-control-group neos-row-fluid">
                                <div class="neos-span10">
                                    <label class="neos-control-label" for="name"><f:translate id="module.subscriberSubscriptions"/></label>
                                    <div class="neos-controls">
                                        <f:for each="{subscriptions}" as="subscription" key="identifier">
                                            <div class="neos-controls">
                                                <label class="neos-checkbox neos-inline">
                                                    <p:form.checkbox property="subscribedSubscriptions" value="{subscription}" />
                                                    <span></span>
                                                    <span>{subscription.name} <f:if condition="{subscription.fusionIdentifier}"><span class="neos-help-inline">({subscription.fusionIdentifier})</span></f:if></span>
                                                </label>
                                            </div>
                                        </f:for>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="neos-span4 neos-offset2">
                <f:if condition="{subscriber.metadata}">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-globe neos-pull-left"></i>
                            <h3>
                                <f:translate id="module.subscriber.metaInformation"/>
                            </h3>
                        </div>

                        <div class="widget-body">
                            <dl class="dl-horizontal">
                            <f:for each="{subscriber.metadata}" as="data" key="title">
                                <dt>{title}:</dt>
                                <dd>{data}</dd>
                            </f:for>
                            </dl>
                        </div>
                    </div>
                </f:if>

                <f:if condition="{trackingRecords}">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-globe neos-pull-left"></i>
                            <h3>
                                <f:translate id="module.subscriber.subscriberTracking"/>
                            </h3>
                        </div>

                        <div class="widget-body">
                            <table class="neos-table">
                                <thead>
                                <tr>
                                    <th><f:translate id="module.subscriber.subscriberTracking.title"/></th>
                                    <th><f:translate id="module.subscriber.subscriberTracking.count"/></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <f:for each="{trackingRecords}" as="trackingRecord">
                                    <tr>
                                        <td>
                                            {trackingRecord.newsletter.node.properties.title}
                                        </td>
                                        <td>
                                            {trackingRecord.viewCount}
                                        </td>
                                    </tr>
                                    </f:for>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </f:if>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="neos-footer">
    <f:link.action action="index" class="neos-button"><f:translate id="module.actions.cancel"/></f:link.action>
    <f:form.submit value="{f:translate(id: 'module.actions.save')}" class="neos-button neos-button-primary" />
</div>